* {
  width: 100%;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}
body{
    background-image: url("images/bgImage.jpg");
}
#container {
  background-color: #fff;
  width: 80%;
  height: 97%;
  margin: auto;
  border: 0px solid blue;
}
#header {
  background-image: url("images/headerImage.jpg");
  background-position:center;
  height: 15%;
  background-color: red;
}
#body {
  position: relative;
  height: 85%;
  width: 100%;
  /*border: 2px solid blue;*/
}
#salesResult {
  /*border: 2px solid red;*/
  width: 100%;
  height: 80%;
  margin: 5px auto;
  position: absolute;
  display: table;
}
table {
  /*position: absolute;*/
  border: 1px solid #CACCC9;
  width: 100%;
  height: 90%;
  text-align: center;
  border-collapse: collapse;
}
tr,td {
  text-align:left;
  width: auto;
  height: 10px;
  border: 1px solid #CACCC9;
  padding: 25px;
}
tr:nth-child(even){
  background-color: #f2f2f2
}
