#test{
  position: relative;
  display: inline-block;
  border: 2px solid blue;
  width: 55%;
  height:50%;
  margin: 0px auto;
}
#test2{
  display: inline-block;
  border: 2px solid red;
  width: 80%;
  height:300px;
  margin: 5px auto;
}
#test3{
  position: relative;
  float: right;
  margin-top:100px;
  display: inline-block;
  border: 2px solid green;
  width: 49%;
  height:45%;
  margin: 0px auto;
}
